/* hero section  */
 .hero-section {
    padding:var(--spacing-16) ;
    background: linear-gradient(to bottom, var(--background), color-mix(in srgb, var(--primary) 10%, var(--background)));
 };
 .dark .hero-section {
    background: linear-gradient(to bottom, var(--background), color-mix(in srgb, var(--primary) 5%, var(--background)));
 };
.hero-subtitle {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--muted-foreground);
    font-size: var(--font-size-lg);

};
/* story-section */
.story-section {
    padding: var(--spacing-16);
};
.rounded-img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
};
.content p {
    color: var(--muted-foreground);
    
}